<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourcePath" value="D:\Saddam\SaddamHusaain\2018_May\Client\PeakSys\Repo\ConvertDocToDocx\ConvertDocToDocx\Sample\Source" />
    <add key="TargetPath" value="D:\Saddam\SaddamHusaain\2018_May\Client\PeakSys\Repo\ConvertDocToDocx\ConvertDocToDocx\Sample\Output" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>