<header class="topHeader">
  <div class="topNav fixed-top" [ngClass]="{'window-scrolled': windowScrolled}">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!---->
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" [routerLink]="['/home']" (click)="ngOnChange('/home')"><img
                src="../../../../assets/images/logo.png" alt="image" /></a>
            <div class="btn-group" dropdown>
                <button id="navdropdownbars" dropdownToggle type="button" class="navbar-toggler"
                        aria-controls="navbarNavDropdown">
                        <span class="fa fa-bars"></span>
                </button>
                <ul id="navbarNavDropdown" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="navdropdownbars">
                    <li class="nav-item mg10" [ngClass]="[currenthref == '/home' ? 'active' : '']">
                      <a [routerLink]="['/home']" (click)="ngOnChange('/home')">Home</a>
                    </li>
                    <li class="nav-item mg10" [ngClass]="[currenthref == '/about' ? 'active' : '']">
                      <a href="#">About Us</a>
                    </li>
                    <li class="nav-item mg10" [ngClass]="[currenthref == '/contact' ? 'active' : '']">
                      <a href="#">Contact Us</a>
                    </li>
                    
                    <li *ngIf="!isUserLoggedIn">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="btn btn-green" (click)="openModal(loginPopupTemplate)">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="btn btn-green" (click)="openModal(registerPopupTemplate)">Sign Up</a>
                        </li>
                      </ul>
                    </li>
                    <!-- Temporary content -->
                    <li *ngIf="isUserLoggedIn">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a><b>Welcome </b><span class="text-capitalize">{{fullName}}</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="btn btn-green" (click)="logout()">LogOut</a>
                        </li>
                
                      </ul>
                    </li>
                </ul>
              </div>
            <div id="isUserLoggedIn" class="navbar-collapse collapse">
              <div class="d-flex ml-auto">
              <app-search></app-search>
              <app-menu></app-menu>
              </div>
            </div>
          </nav>
          <!---->
        </div>
        <!---->
      </div>
    </div>
  </div>
</header>
