<section class="welcome_hero_slider_area_two owl-carousel">
  <carousel [noPause]="noPause" [interval]="1800">
    <!--1-->
    <slide class="animated fadeIn">
      <div class="single_welcome_slide slide_bg1 d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-12">
              <div class="bannerDesc defineFloat">
                <p>Unlock your learning superpowers with </p>
                <h1 class="text-uppercase">Jackfruit</h1>
                <div class="learnButton"><a class="btn btn-green learnBtn text-uppercase">Start Learning</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </slide>
    <!--2-->
    <slide class="animated fadeIn">
      <div class="single_welcome_slide slide_bg2 d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-5 ml-auto">
              <div class="bannerDesc defineFloat">
                <select class="form-control">
                  <option value="0">1</option>
                  <option value="1">2</option>
                  <option value="2">3</option>
                  <option value="3">4</option>
                </select>
                <h1>Magnetic effects of Electric Current</h1>
                <p><b>For :10th class,Physics</b></p>
                <p><b>On: 28th Febuary,2019</b></p>
                <p><b>Time: 5 PM</b></p>
                <div class="learnButton"><a class="btn btn-green learnBtn text-uppercase">Enroll Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </slide>
  </carousel>
  <!---->
</section>