<footer class="sectionFooter">
  <div class="container">
    <div class="row">
      <!---->
      <div class="col-lg-2 col-md-2 col-sm-2 full-3">
        <div class="footerTitle defineFloat">
          <img src="assets/images/footerlogo.png" alt="image" [routerLink]="['/home']"/>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2 full-3">
        <div class="footerTitle defineFloat">
          <h6>Webinar</h6>
        </div>
        <div class="footerListing defineFloat">
          <ul>
            <li><a href="#"><span>Cat</span> Exam</a></li>
            <li><a href="#"><span>Ias</span> Exam</a></li>
            <li><a href="#"><span>Upsc</span> Syllabous</a></li>
            <li><a href="#"><span>Upsc</span> 2019</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 full-3">
        <div class="footerTitle defineFloat">
          <h6>Courses</h6>
        </div>
        <div class="footerListing defineFloat">
          <ul>
            <li><a href="#"><span>Cbse</span></a></li>
            <li><a href="#"><span>Icse</span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 full-3">
        <div class="footerTitle defineFloat">
          <h6>Videos</h6>
        </div>
        <div class="footerListing defineFloat">
          <ul>
            <li><a href="#"><span>Cbse</span></a></li>
            <li><a href="#"><span>Icse</span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 full-3">
        <div class="footerTitle defineFloat">
          <h6>Preparation</h6>
        </div>
        <div class="footerListing defineFloat">
          <ul>
            <li><a href="#">Maths</a></li>
            <li><a href="#">Physics</a></li>
            <li><a href="#">Chemistry</a></li>
            <li><a href="#">Biology</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-3 full-3">
        <div class="footerTitle follow defineFloat">
          <h6>Follow Us</h6>
        </div>
        <div class="footerListing socialIcons defineFloat">
          <ul>
            <li><a href="https://www.youtube.com/c/JackFruitEdu" target="_blank"><img src="assets/images/youtubeicon.png" alt="image" /></a></li>
            <li><a href="https://www.facebook.com/Jackfruitedu/" target="_blank"><img src="assets/images/fbicons.png" alt="image" /></a></li>
            <li><a href="https://www.instagram.com/jackfruitedu/" target="_blank"><img src="assets/images/instaicon.png" alt="image" /></a></li> 
          </ul>
        </div>
      </div>
      <!---->
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 full">
        <div class="footerBottomListing defineFloat">
          <ul class="list-unstyled">
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Services</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 full">
        <div class="copyright defineFloat">
          <p>copyright@2019,jackfruit. All rights reserved.</p>
        </div>
      </div>
      <!---->
    </div>
  </div>
  <app-scroll-top></app-scroll-top>
</footer>