
.error-container {
    padding-top: 5%;
    text-align: center;
    .error-code {
        font-size: 130px;
        font-weight: 400;
        color: #343434;
        @media screen and (max-width: $tab-device-screen) {
            font-size: 100px;
        }
        @media screen and (max-width: $sm-device-screen) {
            font-size: 80px;
        }
    }
    .error-info {
        font-size: 20px;
        color: #343434;
    }
    
    .error-help {
        font-size: 14px;
    }
}